/* CSS declarations go here */
ul
  list-style none
  margin 2px 0
  li
    width 40em
    padding 2px 0
    transition all 0.5s ease
    background-color #CCC
    border solid 1px white
    opacity 100%
    &:hover 
      background-color white
      border solid 1px #CCC
    div
      position relative
      top 0
      left 0
      height 2em
      span
        display inline-block
        padding-top 5px
        margin-left 100px
      button.remove
        transition all 0.3s ease-in-out
        position absolute
        top 0
        left 0
        opacity 100%
        &.remove.animatedButton
          position absolute
          top 0
          right 0
          opacity 10%
    
button.removeQuick  
  position relative
  top 9em
  left 45em

.identifyItemsToBeRemoved
  background-color orange
  opacity 50%